.history/
.idea
.idea/
.DS_Store
.vscode/
vscode/
.venv/
/redis-docker/
node_modules/   
selenium-tests/reports/
selenium-tests/screenshots/
selenium-tests/downloads/
selenium-tests/logs/
selenium-tests/test-results/
selenium-tests/
selenium-tests/
selenium-tests/

