# Node.js
/node_modules/
/dist/
.history/

# TypeScript
*.js
*.map
*.d.ts
package-lock.json
/dist/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
.DS_Store

# Other build artifacts
/build/
/output/

#Redis server
*.rdb
.package-lock.json
._test